# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tgz

# Test / coverage
coverage/
.nyc_output/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Local env
.env
.env.local
